@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*
{
  margin:0;
  padding:0;
  font-family:'poppins','sans-serif';
  box-sizing:border-box;
}
.navbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#085454;
    color:white;
    height:85px;
    position:fixed;
    width:100%;
}  
.logo
{
    font-size:25px;
    font-weight:500;
    margin:8px;
    padding:24px;
}
.logo:hover
{
    color:white;
    text-shadow:0 0 25px white,
                0 0 25px white;
    transform:scale(1.1);
}
 .navbar-links ul
 {
     display:flex;
 }
 .navbar-links ul li
 {
     list-style:none;
 }
 .navbar-links ul li a
 {
     color:white;
     text-decoration:none;
     padding:24px;
     display:block;
     font-size:20px;
 }
 .navbar-links ul li:hover
 {
     background-color:orangered;
 }
 .btn
 {
     background:white;
     padding:8px;
     border-radius:6px;
     margin:8px;
     width:90px;
     height:40px;
 }
 .btn a
 {
     text-decoration:none;
     color:#085454;
     font-size:20px;
 }
 .btn:hover
 {
     background:orangered;
 }    

.header
{
    display:flex;
    justify-content:space-between;
    margin-top:20px;
}
.heading
{
    font-size:30px;
    color:#085454;
    font-weight:bold;
    margin-left:640px;
    margin-top:90px;
}
img
{
    float:left;
    width:30px;
    height:30px;
}
span
{
    font-size:30px;
    font-weight:bold;
    text-decoration:none;
    color:black;
}
.box1
{
    position:absolute;
    width:80%;
    margin-left:400px;
    padding:30px;
    margin-top:10px;
    
}
