@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
*
{
  margin:0;
  padding:0;
  font-family:'poppins','sans-serif';
  box-sizing:border-box;
}
.navbar
{
    display:flex;
    justify-content:space-between;
    align-items:center;
    background-color:#085454;
    color:white;
    height:85px;
    position:fixed;
    width:100%;
}  
.logo
{
    font-size:25px;
    font-weight:500;
    margin:8px;
    padding:24px;
}
.logo:hover
{
    color:white;
    text-shadow:0 0 25px white,
                0 0 25px white;
    transform:scale(1.1);
 }
.navbar-links ul
{
    display:flex;
}
.navbar-links ul li
{
    list-style:none;
}
.navbar-links ul li a
{
    color:white;
    text-decoration:none;
    padding:24px;
    display:block;
    font-size:20px;
}
.navbar-links ul li:hover
{
    background-color:orangered;
}
.btn
{
    background:white;
    padding:8px;
    border-radius:6px;
    margin:8px;
}
.btn a
{
    text-decoration:none;
    color:#085454;
    font-size:20px;
}
.btn:hover
{
    background:orangered;
}
.education
{
    display:flex;
    flex-direction:column;
    flex-wrap:wrap;
    justify-content:center;
    border-left:4px solid #085454;
    margin-left:380px;
    width:900px;
    height:auto;
   
}
.box1
{
    height:auto;
    width:600px;
    border:3px solid #085454;
    padding:20px;
}
.box2
{
    height:auto;
    width:600px;
    border:3px solid #085454;
    padding:20px;
    margin-top:20px;
}
.box3
{
    height:auto;
    width:600px;
    border:3px solid #085454;
    padding:20px;
    margin-top:20px;
}
h2
{
    color:#7a7a7a;
}
p
{
    font-size:20px;
}
span
{
    font-size:20px;
    color:#001542;
    font-weight:bold;
}
.per
{
    color:#FFB30D;
    font-size:20px;
    font-weight:bold;
}
hr
{
    align-items:center;
}